// /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//  *   Layout ~ Services
//  *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.page-container--color-bar {
  border-top: 1.5rem solid $blue-slate;
}

// TODO update common with these styles when we move shadows to common
.embedded-core-form form,
.embedded-core-form .form {
  border: none;
  box-shadow: 0rem 0.1875rem 0.5rem 0rem rgba(0, 0, 0, 0.075);
}
form.form-unstyled,
.form.form-unstyled,
.form-unstyled form,
.form-unstyled .form,
form.modal-body,
.form.modal-body,
.modal-body form,
.modal-body .form {
  form.form-styled,
  .form.form-styled,
  .form-styled form,
  .form-styled .form {
    border: none;
    box-shadow: 0rem 0.1875rem 0.5rem 0rem rgba(0, 0, 0, 0.075);
  }
}
