/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ Survey
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin: 0;
}

.status-pill {
  color: $white;
  text-align: center;
  padding: 0.125rem 0.625rem;
  font-size: 50%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  align-self: center;
  border-radius: 0.75rem;
  margin-left: auto;
  flex: 0 0 auto;

  &__gray {
    background-color: $gray50;
  }

  &__yellow {
    background-color: $sunflower;
    color: $gray80;
  }

  &__green {
    background-color: $green-grass;
  }

  &__red {
    background-color: $red;
  }
}

.survey-settings-label {
  padding: 0.375rem 0.75rem 0.75rem 0;
  overflow: hidden;
  background: $white;
  display: block;
  color: rgba($gray80, 0.75);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.75rem;
}

.survey-settings-sidebar {
  font-size: 0.8em;
}

.survey-settings-sidebar-link {
  line-height: normal;
  text-transform: none;
  color: $blue-lake;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.survey-view-toggle {
  display: block;
  text-align: right;
  margin: 0 0 0.75rem 0;
}

.survey-settings-nav {
  &--tabs {
    .nav-tabs {
      margin-bottom: 1.5rem;
      .nav-link.active {
        border-color: transparent;
        border-bottom: 2px solid $orange-kinops;
      }
      .nav-link {
        padding-top: 0;
        &:hover {
          border-color: transparent;
          border-bottom: 2px solid $orange-kinops;
        }
      }
    }
  }
  &--select {
    margin-bottom: 1.5rem;
    select {
      font-weight: bold;
    }
  }
}

.workflow-group {
  display: block;
  margin-bottom: 20px;
}

.workflow-builder-link {
  display: flex;
}

.card-black-text {
  color: $black;
}

.form-top-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
